.cost-center-list {
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
    }

    .create-form {
        background: #eee;
        padding: 15px 10px;
        border-top: 2px solid #ccc;
    }
}